* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 130px;
    background: #f0f2f5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 159px;
    align-items: center;
}

header {

    margin-top: -100px;
    margin-left: -35px;
    padding: 10px;
    width: 550px;
    padding-bottom: 50px;
}

.max-width{
    align-items: center;
    justify-content: center;
    display: flex;
}

header h2 {
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    letter-spacing: normal;
    color: #121212;
    line-height: 28px;
}

header img {
    margin-left: -22px;
    margin-bottom: -7px;
    height: 106px;
    width: auto;
   
}

.card {
    background: white;
    width: 400px;
    border-radius: 11px;
    box-shadow: 0 0 0.5em rgba(61, 61, 61, 0.164);
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.card input {
    font-weight: normal;
    padding: 15px;
    margin-bottom: 15px;
    border: solid 1.5px #5959593a;
    color: #5e5e5e85;
    border-radius: 7px;
    font-size: 17px;
}

.card .login-btn {
    cursor: pointer;
    margin-top: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    padding: 12px;
    background: #166ddf;
    transition: ease 0.3s all;
}

.card .login-btn:hover {
    background: #1461c7;
}

.card p {
    cursor: pointer;
    font-weight: normal;
    margin-top: 17px;
    text-align: center;
    font-size: 13.8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1870e4;
    ;
}

.card p:hover {
    text-decoration: underline;
}

.card .line {
    background: #60606062;
    height: 1px;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card .create-btn {
    font-size: 17px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #36a420;
    text-align: center;
    width: 165px;
    padding: 15px 10px;
    border-radius: 7px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.card .create-btn:hover {
    background: #2f911c;
}

.card-footer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.aditional {
    font-weight: normal;
    margin-top: 25px;
    font-weight: normal;
    font-size: 13.8px;
    font-family: Arial, Helvetica, sans-serif;
}

.aditional span {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.aditional span:hover {
    text-decoration: underline;
}
@media (max-width: 1076px) {
    header{
        padding-left: 90px;
        
        
    }
    header h2{
        font-size: 25px;
    }
}

@media (max-width: 962px) {
    body{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    main{
        
        margin-left: 0;
    
    }
    header{
        padding: 0;
        width: 390px;
        margin: 0;
        text-align: center;
        justify-content: center;
        padding-bottom: 40px;
    }
    header img{
        margin-top: 0;
        margin-left: 25px;
        padding: 0;
    }

    header h2{
        text-align: justify;
    }


}

@media (max-width: 491px){
    body{
        background: chartreuse;
    }
}